{% capture styles %}
  @import "alembic";

  .layout-post .article--post.typeset ul,
  .layout-post .article--post.typeset ol,
  .layout-page.welcome .article--page.typeset ul,
  .layout-page.welcome .article--page.typeset ol {
    padding-left: 1.5rem;
    margin-left: 0;
  }

  .typeset ul ul,
  .typeset ul ol,
  .typeset ol ul,
  .typeset ol ol {
    font-size: 1.0em;
  }

  .typeset ol {
    counter-reset: top-level;
    list-style: none;
  }

  .typeset ol[type="a"] {
    list-style: lower-alpha;
    padding-left: 1.5rem;
  }

  .typeset ol[type="a"] > li {
    counter-increment: none;
    padding-left: 0;
  }

  .typeset ol[type="a"] > li::before {
    content: none;
  }

  .typeset ol li {
    counter-increment: none;
  }

  .typeset ol > li {
    counter-increment: top-level;
  }

  .typeset ol > li::before {
    content: counters(top-level, ".") ". ";
  }

  .typeset ol ol {
    counter-reset: sub-level;
  }

  .typeset ol ol > li {
    counter-increment: sub-level;
    padding-left: 1rem;
  }

  .typeset ol ol > li::before {
    content: counter(top-level) "." counter(sub-level) ". ";
  }

  .typeset ol li ul {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  .typeset table,
  .typeset table th,
  .typeset table td {
    font-size: 1.0rem !important;
  }

  .no-marker {
    list-style: none;
    padding-left: 0;
  }

  .typeset table {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

{% endcapture %}
<style>{{ styles | scssify | strip_newlines }}</style>
