{% capture styles %}
  @import "alembic";

  .layout-post .article--post.typeset ul,
  .layout-post .article--post.typeset ol,
  .layout-page.welcome .article--page.typeset ul,
  .layout-page.welcome .article--page.typeset ol {
    padding-left: 1.5rem;
    margin-left: 0;
  }

  .typeset ul ul,
  .typeset ul ol,
  .typeset ol ul,
  .typeset ol ol {
    font-size: 1.0em;
  }

  .typeset ol {
    counter-reset: top-level;
    list-style: none;
  }

  .typeset ol li {
    counter-increment: none;
  }

  .typeset ol > li {
    counter-increment: top-level;
  }

  .typeset ol > li::before {
    content: counters(top-level, ".") ". ";
  }

  .typeset ol ol {
    counter-reset: sub-level;
  }

  .typeset ol ol > li {
    counter-increment: sub-level;
    padding-left: 1rem;
  }

  .typeset ol ol > li::before {
    content: counter(top-level) "." counter(sub-level) ". ";
  }

{% endcapture %}
<style>{{ styles | scssify | strip_newlines }}</style>
