---
title: false
styles: true
---

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Pretendard', 'Apple SD Gothic Neo', sans-serif;
  overflow: hidden;
  height: 100%;
}

@import "alembic";

h2.custom-header {
    color: #0077b6; /* Change this to your desired color for the main heading */
  }
  
  .custom-subheader {
    color: #555555; /* Change this to your desired color for the subheader */
  }

.align-tight {
  margin-bottom: 0.3em;
  margin-top: 0.4em;
}